<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EH_FQDN" value="localhost:9094"/>
    <add key="EH_CONNECTION_STRING" value="PLAINTEXT://localhost:9094"/>
    <add key="EH_NAME" value="test"/>
    <add key="CONSUMER_GROUP" value="$Default"/>
  </appSettings>
</configuration>

